html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body{
	overflow-x:hidden;
	font-family: "Roboto";
}

#droneHeaderBackground{
	width:100%;
	background-size: cover;
    position:fixed;
}

#introWrapper{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:1050px;

	height:900px;
}

#bottom_fade {
	    width: 600px;
    height: 200px;
    z-index: 99;
    position: fixed;
    bottom: 0px;
    background: url("bottom-fade.png") bottom center no-repeat;
} 
/*
	.drone_headerWrapper2{
		position:absolute;
		float:left;
		margin-top:80px;
		margin-left:130px;

	}
		#drone_header2{
			width:430px;
			height:230px;
		}

	.drone_headerWrapper3{
		position:fixed;
		float:left;
		margin-top:30px;
		margin-left:20px;

	}
		#drone_header3{
			width:300px;
			height:160px;
		}	
*/

	.headingWrapper{	
		background-color:rgba(0,0,0,0.75);
    	border-radius: 25px;
		padding: 25px 20px 30px 20px;
		width:450px;
		margin-top:76px;
		font-family: 'Orbitron', sans-serif;
		-webkit-transform:scale(1,0.8); /* Safari and Chrome */
-moz-transform:scale(1,0.8); /* Firefox */
-ms-transform:scale(1,0.8); /* IE 9+ */
-o-transform:scale(1,0.8); /* Opera */
	}

		.headingWrapperPrimary{
			position:relative;
			z-index:40;
			font-size:65px;
			color: #E4F1FE;
		    text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
		}
		.headingWrapperSecondary{
			position:relative;
			margin-top: 0px;
			font-size:20px;
			color: #eedfcc;
			margin-left:6px;
		}

		hr.style-two {
			position:relative;
		    border: 0;
		    background-color: #E4F1FE;
		    width: 350px;
		    height:1px;
		    box-shadow: 0px 5px 8px rgba(136,136,136,0.75);
		    margin-top:10px;
		    margin-left:5px;
		}
		
/*Parallax clouds 53 to 120*/

#cloudWrapper{
	margin-top:450px;
	position:absolute;
	height:100%;
	width:100%;
	background: url("Pictures/cloudbackground.png");
	z-index:-2;

}	

#cloudContainer{
	position: relative;	
	max-width:1400px;
	margin:auto;
	height: 100vh;
}

#c1{
	position: absolute;
	margin-top:640px;
	margin-left:0px;
}


#cloud1{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 270px;
	width: 270px;
}

#c2{
	position: absolute;
	margin-top:610px;
	margin-left:130px;
}


#cloud2{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	height: 230px;
	width: 300px;
}

#c3{	z-index:100;
	position: absolute;
	margin-top:720px;
	margin-left:260px;
}


#cloud3{
	height: 230px;
	width: 230px;
}

#c4{
	position: absolute;
	margin-top:630px;
	margin-left:370px;
}


#cloud4{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	height: 220px;
	width: 300px;
}

#c5{
	position: absolute;
	margin-top:640px;
	padding-left:460px;
	z-index:101;
}


#cloud5{
	height: 390px;
	width: 420px;
}

#c6{
	position: absolute;
	margin-top:630px;
	padding-left:700px;
}


#cloud6{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	height: 250px;
	width: 300px;
}

#c7{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	position: absolute;
	margin-top:620px;
	padding-left:900px;
}


#cloud7{
	height: 120px;
	width: 120px;
}

#c8{
	position: absolute;
	margin-top:700px;
	padding-left:860px;
	z-index:102;
}


#cloud8{
	height: 420px;
	width: 570px;
}

#c9{
	position: absolute;
	margin-top:600px;
	padding-left:1050px;
}


#cloud9{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 220px;
	width: 280px;
}

#c10{
	position: absolute;
	margin-top:700px;
	padding-left:1170px;
}


#cloud10{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 210px;
	width: 250px;
}
/*END Parallax Clouds*/




#banner {
	width: 100%;
	height: 425px;
	position: fixed;
	top: 80px;
}

	#holder {
		margin-top: 140px;
		width: 500px;
		background-color:rgba(0,0,0,0.7);
		padding: 20px 0 20px 50px;
		text-transform: capitalize;
		color: white;
		font-family: 'Open Sans Condensed';
	}
/*image slider*/

#transition{
	background: url("Pictures/droneBack.png") no-repeat fixed center; 
	height:700px;
	width:100%;

	background-color: #E4F1FE;
}

#transitionC{
	
}


#content3{
	
	width: 100%;
	margin-top: 30px;
	color:white;
	position:absolute;
}

#content4{
	font-size: 15px;
	color: #E4F1FE;
	height: 30px;

}

#content5{
	font-size: 60px;
}

#content6{
	font-size: 21px;
	
	margin-top: 15px;
}




#panel2{
	position:absolute;

	
	height:900px;
	width:100%;

	background-color:black;
	
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
    margin-left:8%;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:10px 10px 0px 0px;
            background:#71acd6;
            font-size:16px;
            font-weight:600;
            color:white;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            text-decoration:none;
            color:#cbe4fd;
        }
 
    li.active a, li.active a:hover {
        background:#2197ff;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        background-color:rgba(0,0,0,0.45);
    	border-radius: 10px 25px 25px 25px;
		padding: 25px 40px 30px 20px;
		padding-left:40px;
		width:auto;
		max-width:1100px;
		font-size:20px;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

#accordion{
	margin-top: 20px;
	max-width:950px;
	margin-right: auto;
	margin-left: auto;
}
.accordion-toggle {
	max-width: 900px;
	cursor: pointer;
	background-color:#71acd6;
	padding: 10px 0px 10px 0px;
	font-weight:bold;
	padding-left:50px;
	font-size:20px;
	border-bottom-width:1.5px;
   border-bottom-color:none;
   border-bottom-style: solid;
	transition:all linear 0.15s;
}

#accordion-toggle1{
	-webkit-border-top-left-radius: 40px;
-webkit-border-top-right-radius: 40px;
-moz-border-radius-topleft: 40px;
-moz-border-radius-topright: 40px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}

.accordion-toggle:hover{
	max-width: 950px;
	background-color:#2197ff;
}

  .accordion-content {
  	max-width: 900px;
  	display: none;
        background-color:rgba(0,0,0,0.45);
		padding: 20px 40px 20px 20px;
		padding-left:40px;
		width:auto;
	font-size: 17px;

  }
  .accordion-content.default {display: block;}
.imgBorder {
  padding: 15px 15px 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.taped-up {
  display: inline-block; /* displays element as an inline element similar to <span> */
  padding: 15px; /* size of the white border */
  margin: 30px 30px 30px 70px; /* position image with other page elements */
  /* give the border's background color a gradient */
  /* depending on the colors you give you can make it look new or old and faded */
  background-color: #daecff;
  /* give the image a drop shadow */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.75);
  /* give the image a slight rotation for a realistic effect */
  -ms-transform:rotate(3deg); /* IE 9 */
  -webkit-transform:rotate(3deg); /* Safari and Chrome */
  transform:rotate(3deg); /* Standard syntax (should be last) */
  /* Cleans up the jagged edges caused by the rotation a bit */
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
  backface-visibility:hidden; /* Standard syntax (should be last) */
  position: relative; /* lets us later position the tape relative to the box */
}

.taped-up:before {
  content: ''; /* create an empty psuedo element */
  position: absolute; /* positions the tape relative to the box created above rather than the whole page */
  background-color: rgba(255,255,255,0.4); /* using rgba for the color lets us make the tape transparent */
  height: 26px; /* height of the tape */
  /* using :before places the tape on the left of the div */
  left:100px; /* position from the left edge of the .taped-up div edge */
  top: -14px; /* position from the top edge of the .taped-up div edge */
  width: 95px; /* width of the tape */
  /*rotate the tape 5 degrees counter-clockwise*/
  -ms-transform:rotate(-5deg); /* IE 9 */
  -webkit-transform:rotate(-5deg); /* Safari and Chrome */
  transform:rotate(-5deg); /* Standard syntax (should be last) */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1); /* give the tape a slight drop shadow */
  /* giving the tape an almost transparent dotted border on the right and left gives it a nicely perforated-look at the edges */
  border-style: dotted;
  border-color: rgba(0,0,0,0.1);
  border-width: 0 2px; /* border only on right and left sides */
}

.tapeChange{
	-ms-transform:rotate(-3deg); /* IE 9 */
  -webkit-transform:rotate(-3deg); /* Safari and Chrome */
  transform:rotate(-3deg); /* Standard syntax (should be last) */
}

.tapeHolder{
	margin-left:auto;
	margin-right:auto;
	max-width:1000px;
}

.circle{
	margin:30px;
	width: 260px;
	height: 260px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
	box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);
}

.accContainer{
	overflow:hidden;
	height:auto;
	min-height:320px;
}

#d1{
	margin-left:auto;
	margin-right:auto;
}

#d2{
	float:right;
}