html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}




body{
	overflow-x:hidden;
	
	
}

#droneHeaderBackground{
	width:100%;
	min-width: 1050px;
	height:100%;
    -webkit-filter: blur(5px);
    z-index:0;
    position:fixed;
    opacity:1;
}

#introWrapper{
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:1050px;

	height:900px;
}

	.drone_headerWrapper{
		position:absolute;
		float:left;
		margin-top:80px;
		margin-left:60px;

	}
		#drone_header{
			width:430px;
			height:230px;
		}


	.headingWrapper{

		margin-top:150px;
		float:right;
		margin-right:0px;
		font-family: 'Orbitron', sans-serif;
	}

		.headingWrapperPrimary{
			position:relative;
			font-size:80px;
			color: #eedfcc;
		    text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
		}
		.headingWrapperSecondary{
			position:relative;
			margin-top: 0px;
			font-size:20px;
			color: #eedfcc;
			margin-left:6px;
		}

		hr.style-two {
			position:relative;
		    border: 0;
		    background-color: white;
		    width: 350px;
		    height:1px;
		    box-shadow: 0px 5px 8px rgba(136,136,136,0.75);
		    margin-top:10px;
		    margin-left:5px;
		}
/*Parallax clouds 53 to 120*/

#cloudWrapper{
	margin-top:450px;
	position:absolute;
	height:100%;
	width:100%;
	background: url("Pictures/cloudbackground.png");
}

#cloudContainer{
	position: relative;
	max-width:1400px;
	margin:auto;
	height: 100vh;
}

#c1{
	position: absolute;
	margin-top:640px;
	margin-left:0px;
}


#cloud1{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 270px;
	width: 270px;
}

#c2{
	position: absolute;
	margin-top:610px;
	margin-left:130px;
}


#cloud2{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	height: 230px;
	width: 300px;
}

#c3{	z-index:100;
	position: absolute;
	margin-top:720px;
	margin-left:260px;
}


#cloud3{
	height: 230px;
	width: 230px;
}

#c4{
	position: absolute;
	margin-top:630px;
	margin-left:370px;
}


#cloud4{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	height: 220px;
	width: 300px;
}

#c5{
	position: absolute;
	margin-top:640px;
	padding-left:460px;
	z-index:101;
}


#cloud5{
	height: 390px;
	width: 420px;
}

#c6{
	position: absolute;
	margin-top:630px;
	padding-left:700px;
}


#cloud6{
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
	height: 250px;
	width: 300px;
}

#c7{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	position: absolute;
	margin-top:620px;
	padding-left:900px;
}


#cloud7{
	height: 120px;
	width: 120px;
}

#c8{
	position: absolute;
	margin-top:700px;
	padding-left:860px;
	z-index:102;
}


#cloud8{
	height: 420px;
	width: 570px;
}

#c9{
	position: absolute;
	margin-top:600px;
	padding-left:1050px;
}


#cloud9{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 220px;
	width: 280px;
}

#c10{
	position: absolute;
	margin-top:700px;
	padding-left:1170px;
}


#cloud10{
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	height: 210px;
	width: 250px;
}
/*END Parallax Clouds*/


#content{
	position:absolute;
	background-color:#eedfcc;}
