@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,400italic,300italic,300,700,700italic);
	/* Gives main container section th entire screen */
	#mainContainer {
	  padding-top: 0px;
	  padding-left: 0px;
	}

	/* Gives main section the entire main container space */
	.main{
	  position: absolute;
	  width: 100%;
	}  

	/* Sidebar settings */
	nav.sidebar.navbar {
		border-radius: 0px;
		background-color:transparent;
		border-color: transparent;
	}

	/* sidebar default hover and focus setting for Non-active selections */
	nav.sidebar .navbar-nav > li > a:hover, nav.sidebar .navbar-nav > li > a:focus {
		color:red;
	}

	/* sidebar default hover and focus setting for Active selections */
	nav.sidebar .navbar-nav > li.active > a, nav.sidebar .navbar-nav > li.active > a:hover, 
	  nav.sidebar .navbar-nav > li.active > a:focus {
		background-color:transparent;
		border-color: transparent;
		color:red;
	}

	/* Sidebar tooltip settings  */ 
	#bs-sidebar-navbar-collapse .tooltip,
	#bs-sidebar-navbar-collapse .tooltip .tooltip-inner {
	      width:600px;
	      padding: 5px;
	      font-size: 90%;
	      word-wrap: break-word;
  	}

	nav.sidebar, .main{
	    -webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/*small/medium side display - When is screen is resized */
        /* View settings on screen size width (or wider) below */
	@media (min-width: 250px) {
	}

        /* View settings on screen size width (or wider) below */
	@media (min-width: 768px) {

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		nav.sidebar{
			width: 120px;
			height: 100%;
			z-index: 8000;
			margin-bottom: 0px;
			margin-left: 0px;
			position: fixed;
		}

		/* Settings for all sections within the main section  */
		div[id*='mainsection'] {
		  padding-left: 120px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}
	}

  #mainsection1 {padding-top:1px;height:1000px;width:100%;color: #fff; background-color: #1E88E5;}
  #mainsection2 {padding-top:1px;height:1000px;width:100%;color: #fff; background-color: #673ab7;}
  #mainsection3 {padding-top:1px;height:1000px;width:100%;color: #fff; background-color: #ff9800;}
  #mainsection41 {padding-top:1px;height:1000px;width:100%;color: #fff; background-color: #00bcd4;}
  #mainsection42 {padding-top:1px;height:1000px;width:100%;color: #fff; background-color: #009688;}

/*#caroslide {
	width:100px;
}*/

.item, img{
	height: auto;
    width:  60% !important;
    max-height:450px;
    margin-left:50%;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}

#leftt, #rightt {
	width:5%;
	height:100%;
	z-index:3000;
}

#leftt {
	left:62%;
}

#rightt {
	right:2%;
}

#presentation {
	height:100%;
	width:100%;
	float:right;
}

@media (min-width: 768px) {

}


@media (min-width: 1330px) {

}